<section class="consolePage">

    <!-- NavBar -->
    <nav class="#01579b light-blue darken-4 " role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo white-text center-align">Application</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="white-text" href="#/login">Sign In</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a class="white-text" href="#/login">Sign In</a></li>
            </ul>
            <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <style media="screen">

        .users-list> li {
            width: 33%;
            float: left;
            padding: 10px;
            text-align: center;
        }

        .users-list> li img {
            border-radius: 50%;
            max-width: 50%%;
            height: 100px;
        }

        .users-list> li> a:hover,
        .users-list> li> a:hover .users-list-name {
            color: #999;
        }

        .users-list-name,
        .users-list-date {
            display: block;
        }

        .users-list-name {
            font-weight: 600;
            color: #444;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .users-list-date {
            color: #999;
            font-size: 12px;
        }

        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .clearfix {
            display: inline-block;
        }
        /* start commented backslash hack \*/

        * html .clearfix {
            height: 1%;
        }

        .clearfix {
            display: block;
        }
        /* close commented backslash hack */
    </style>

    <div class="row">
       <div class="col s12 m4">
         <div class="card ">
           <div class="card-content">
             <span class="card-title">Members</span>
             <ul class="users-list clearfix center-align">
               <li ng-repeat="mem in Members | limitTo:3">
                 <img ng-src="{{mem.image}}" alt="User Image">
                 <a class="users-list-name" href="#/members">{{mem.name}}</a>
               </li>
             </ul>
           </div>
           <div class="card-action">
             <a href="#/members">View All Members</a>
           </div>
         </div>
       </div>
     </div>


     <div class="row">
        <div class="col s12 m4">
          <div class="card ">
            <div class="card-content">
            </div>
            <div class="card-action">
              <a href="#/events">Events</a>
            </div>
          </div>
        </div>
      </div>



</section>
