<section class="loginPage">

  <!-- NavBar -->
  <nav class="#01579b light-blue darken-4 " role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo white-text center-align">Application</a>
    </div>
  </nav>

  <div class="container">
      <br>
      <br>
      <hr>

  </div>


    <div class="container" ng-controller="LoginController" >

      <br>

        <h4 class=" center-align"> Login</h4>
        <br>
        <br>

        <div class="row">


            <div class="col s12 center-align">
                <button class=" btn-large blue darken-4 waves-effect waves-light  " type="button" ng-click="googleSignIn()" name="action">Sign-In with Google
                    <i class="mdi mdi-google left"></i>
                </button>
            </div>

            <!-- <div class="col s6 ">
                <button class=" btn-large blue darken-4 waves-effect waves-light " type="button"  name="action">Sign-In with Facebook
                    <i class="mdi mdi-facebook left"></i>
                </button>
            </div> -->
        </div>
        <br>
        <br>


        <a href="#/home"><h5>Home</h5></a>
    </div>
    <div class="container">

        <hr>

    </div>



</section>
