<section class="consolePage">




  <style media="screen">

  .users-list> li {
    width: 33%;
    float: left;
    padding: 10px;
    text-align: center;
  }

  .users-list> li img {
    border-radius: 50%;
    max-width: 50%%;
    height: 100px;
  }

  .users-list> li> a:hover,
  .users-list> li> a:hover .users-list-name {
    color: #999;
  }

  .users-list-name,
  .users-list-date {
    display: block;
  }

  .users-list-name {
    font-weight: 600;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .users-list-date {
    color: #999;
    font-size: 12px;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .clearfix {
    display: inline-block;
  }
  /* start commented backslash hack \*/

  * html .clearfix {
    height: 1%;
  }

  .clearfix {
    display: block;
  }
  /* close commented backslash hack */
  </style>



    <!-- NavBar -->
    <nav class="#01579b light-blue darken-4 " role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo white-text center-align">itsMyAmrita</a>


        <ul class="right hide-on-med-and-down">
          <li>  {{ firebaseUser.displayName }}</li>
          <li><a href="" ng-click="auth.$signOut()"class="white-text"><i class=" white-text right material-icons">input</i>Sign Out</a></li>
          </ul>

      </div>
    </nav>




  <div class="row center-align">
    <div class="col s2"></div>






    <div  class="col s2 "></div>
  </div>


  <div class="row center-align">
    <h2>Dashboard </h2>
    <div class="col s2"></div>




    <div class="col s3 center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Prachodhana <br> Technical Clubs</span>
        </div>
        <div class="card-action">
          <a href="#/technical">Enter</a>
        </div>
      </div>
    </div>



    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Sanskriti<br> Cultural Clubs</span>
        </div>
        <div class="card-action">
          <a href="#/cultural">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">AmritaDhara Team <br> Amrita Bangalore</span>
        </div>
        <div class="card-action">
          <a href="#/dhara">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Faculty <br> Amrita Bangalore</span>
        </div>
        <div class="card-action">
          <a href="#/facselect">Enter</a>
        </div>
      </div>
    </div>



        <div class="row">
          <div class="col s12 m4">
            <div class="card ">
              <div class="card-content">
                <span class="card-title">Calendar</span>
              </div>
              <div class="card-action">
                <a href="#/Calendars?Calendar">View All Mentors</a>
              </div>
            </div>
          </div>






</section>
