<section class="consolePage">




  <style media="screen">

  .users-list> li {
    width: 33%;
    float: left;
    padding: 10px;
    text-align: center;
  }

  .users-list> li img {
    border-radius: 50%;
    max-width: 50%%;
    height: 100px;
  }

  .users-list> li> a:hover,
  .users-list> li> a:hover .users-list-name {
    color: #999;
  }

  .users-list-name,
  .users-list-date {
    display: block;
  }

  .users-list-name {
    font-weight: 600;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .users-list-date {
    color: #999;
    font-size: 12px;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .clearfix {
    display: inline-block;
  }
  /* start commented backslash hack \*/

  * html .clearfix {
    height: 1%;
  }

  .clearfix {
    display: block;
  }
  /* close commented backslash hack */
  </style>



    <!-- NavBar -->
    <nav class="#01579b light-blue darken-4 " role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo white-text center-align">itsMyAmrita</a>


        <ul class="right hide-on-med-and-down">
          <li>  {{ firebaseUser.displayName }}</li>
          <li><a href="" ng-click="auth.$signOut()"class="white-text"><i class=" white-text right material-icons">input</i>Sign Out</a></li>
          </ul>

      </div>
    </nav>




  <div class="row center-align">
    <div class="col s2"></div>






    <div  class="col s2 "></div>
  </div>


  <div class="row center-align">
    <h2>Prachodhana </h2>
    <div class="col s2"></div>




    <div class="col s3 center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">FACE: CSE Dept.<br> Forum </span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?face">Enter</a>
        </div>
      </div>
    </div>



    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">ECIF: ECE Dept.<br> Forum</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?ecif">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Ingenium: Mechanical Dept. Forum</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?ingenium">Enter</a>
        </div>
      </div>
    </div>



    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Vidyuth: The Electrical Dept. Forum</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?vidyuth">Enter</a>
        </div>
      </div>
    </div>


    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Aavishkara: The Science Forum</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?aavishkara">Enter</a>
        </div>
      </div>
    </div>


    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">CSI: Computer Society of India</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?csi">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">SAE:Society of Automotive Engineers</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?sae">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">ACM: Association of Computing Machinery</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?acm">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">IEEE: Student <br>Chapter</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?ieee">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">IEEE PELS: Power Electronics Society</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?pels">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">IEEE PES: Power and Energy Society</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?pes">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">IEEE WIE: Women in Engineering</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?wie">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">ACROM: Amrita Centre for Robotics and Mechatronics</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?acrom">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">ACE: Amrita  Center for Enterprenuership </span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?ace">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Sankhya: The Mathematics Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?sankhya">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">VYOM: <br>The Astrophysics Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?vyom">Enter</a>
        </div>
      </div>
    </div>  <div class="col s3  center-align">
        <div class="card ">
          <div class="card-content">
            <span class="card-title">JIDO: The Industrial Automation Club Club</span>
          </div>
          <div class="card-action">
            <a href="#/dashboard?jido">Enter</a>
          </div>
        </div>
      </div>

      <div class="col s3  center-align">
          <div class="card ">
            <div class="card-content">
              <span class="card-title">IEEE COMSOC: The Communication Society</span>
            </div>
            <div class="card-action">
              <a href="#/dashboard?comsoc">Enter</a>
            </div>
          </div>
        </div>

        <div class="col s3  center-align">
            <div class="card ">
              <div class="card-content">
                <span class="card-title">ANC: <br>Amrita Networking Club</span>
              </div>
              <div class="card-action">
                <a href="#/dashboard?anc">Enter</a>
              </div>
            </div>
          </div>

    </div>


    <div class="col s2 "></div>
  </div>

  <div class="row center-align">
    <h2>Faculty </h2>
    <div class="col s2"></div>




    <div class="col s3 center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">CSE Dept.</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?CSE">Enter</a>
        </div>
      </div>
    </div>



    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">ECE Dept.</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?ECE">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Physics</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?PHY">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Chemistry</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?CHEM">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Mechanical</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?MECH">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">EEE Dept.</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?EEE">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Math Dept.</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?MATH">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">English Dept.</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?ENG">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Cultural Dept.</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?CUL">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Civil Dept.</span>
        </div>
        <div class="card-action">
          <a href="#/faculty?CIV">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s2 "></div>
  </div>




  <!-- <div class="row">
  <div class="col s12 m4">
  <div class="card ">
  <div class="card-content">
  <span class="card-title">Members</span>
  <ul class="users-list clearfix center-align">
  <li ng-repeat="mem in Members | limitTo:3">
  <img ng-src="{{mem.image}}" alt="User Image">
  <a class="users-list-name" href="#/members">{{mem.name}}</a>
</li>
</ul>
</div>
<div class="card-action">
<a href="#/members">View All Members</a>
</div>
</div>
</div>
</div>


<div class="row">
<div class="col s12 m4">
<div class="card ">
<div class="card-content">
</div>
<div class="card-action">
<a href="#/events">Events</a>
</div>
</div>
</div>
</div> -->




</section>
