<section class="consolePage">




  <style media="screen">

  .users-list> li {
    width: 33%;
    float: left;
    padding: 10px;
    text-align: center;
  }

  .users-list> li img {
    border-radius: 50%;
    max-width: 50%%;
    height: 100px;
  }

  .users-list> li> a:hover,
  .users-list> li> a:hover .users-list-name {
    color: #999;
  }

  .users-list-name,
  .users-list-date {
    display: block;
  }

  .users-list-name {
    font-weight: 600;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .users-list-date {
    color: #999;
    font-size: 12px;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .clearfix {
    display: inline-block;
  }
  /* start commented backslash hack \*/

  * html .clearfix {
    height: 1%;
  }

  .clearfix {
    display: block;
  }
  /* close commented backslash hack */
  </style>



    <!-- NavBar -->
    <nav class="#01579b light-blue darken-4 " role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo white-text center-align">itsMyAmrita</a>


        <ul class="right hide-on-med-and-down">
          <li>  {{ firebaseUser.displayName }}</li>
          <li><a href="" ng-click="auth.$signOut()"class="white-text"><i class=" white-text right material-icons">input</i>Sign Out</a></li>
          </ul>

      </div>
    </nav>




  <div class="row center-align">
    <div class="col s2"></div>






    <div  class="col s2 "></div>
  </div>


  <div class="row center-align">
    <h2>Sanskriti </h2>
    <div class="col s2"></div>




    <div class="col s3 center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> Maardhani<br> The Literary Club </span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?maardhani">Enter</a>
        </div>
      </div>
    </div>



    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Abhinaya<br>The Drama Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?abhinaya">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Kala <br> The Fine Arts Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?kala">Enter</a>
        </div>
      </div>
    </div>



    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Lekhani <br>The Press Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?lekhani">Enter</a>
        </div>
      </div>
    </div>


    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Chetana <br> The Sports Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?chetana">Enter</a>
        </div>
      </div>
    </div>


    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> Narthana <br> The Dance Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?narthana">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Raaga <br> The Music Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?raaga">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> EPIC <br> The Movie Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?epic">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> Smriti <br>The Photography Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?smriti">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> SPICMACAY <br>The Indian Arts Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?spicmacay">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> Prakriti <br> The Eco Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?prakriti">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> Prerana <br>  The Social Outreach Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?prerana">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> Vedanta <br> The Cultural Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?vedanta">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">The Quiz <br> Club </span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?quiz">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">The Squad :The Adventure Enthusiasts Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?squad">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s3  center-align">
      <div class="card ">
        <div class="card-content">
          <span class="card-title"> The Humour <br> Club</span>
        </div>
        <div class="card-action">
          <a href="#/dashboard?humour">Enter</a>
        </div>
      </div>
    </div>



    </div>


    <div class="col s2 "></div>
  </div>




</section>
