<section class="homePage">

  <!-- NavBar -->
  <nav class="#01579b light-blue darken-4 " role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo white-text center-align">itsMyAmrita</a>
          <ul class="right hide-on-med-and-down">
              <li><a class="white-text" href="#/login">Go to Console</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
              <li><a class="white-text" href="#/login">Go to Console</a></li>
          </ul>
          <a  data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>



  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text ">Administrator Panel </h1>
        <div class="row center">
          <a href="#/login" id="download-button" class="btn-large waves-effect #01579b light-blue darken-4 waves-light  lighten-1">Go to Console</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


    <!--   Icon Section   -->
    <div class="row container">
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Customize Dashboard</h5>

                <p class="light">Cutomize your "Dashboard" with the latest and most relevant data pertaining to your club.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                <h5 class="center">Manage Members</h5>

                <p class="light">Show the world the Members of your Club so your club becomes easily approachable.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Scedule Events</h5>

                <p class="light">Scedule Events and show Event Summaries.Its a one stop shop for all publicity.</p>
            </div>
        </div>
    </div>

<br>
<br>


    <footer class="page-footer blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">App Web Console</h5>
                    <p class="grey-text text-lighten-4">This Website works as a console for the Android Application </p>


                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="#">Akhilesh Anand</a>
            </div>
        </div>
    </footer>

    </section>
